In [19]:
import pandas as pd
import datetime as dt
import random

In [2]:
df = pd.read_csv('data\\Parking_Violations_Issued_-_Fiscal_Year_2014.csv')

C:\Users\under\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,23,29,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(9100278, 43)

In [5]:
df_small = df.sample(n=100)

In [7]:
df_small.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'Number', 'Street',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [36]:
type(df_small['Issue Date'][0])

str

In [28]:
# randomly change years
df_small['Issue Date'] = df_small['Issue Date'].apply(lambda x: str(dt.datetime.strptime(x, '%m/%d/%Y').month) + '/' +\
                                                                str(dt.datetime.strptime(x, '%m/%d/%Y').day) + '/' +\
                                                                str(dt.datetime.strptime(x, '%m/%d/%Y').year + random.randint(0,6)))

In [30]:
with open('violation_small.csv', 'w', newline='\n') as f:
    df_small.to_csv(f, index=False, header=True)

In [37]:
# make sure dataframe is exported correctly
df_small = pd.read_csv('violation_small.csv')
df_small.shape

(100, 44)

In [35]:
type(df_small['Issue Date'][0])

str

# Check Borocode and County Name

In [38]:
# check county names
df['Violation County'].unique()

array(['K', nan, 'NY', 'Q', 'BX', 'R', 'BRONX', 'RICH', 'KINGS', 'QUEEN',
       'NYC', '103', 'RC'], dtype=object)

In [39]:
ss = pd.read_csv('data\\nyc_cscl.csv')

In [40]:
ss['BOROCODE'].unique()

array([2, 4, 3, 5, 1], dtype=int64)

# Check column names of 2015 records

In [41]:
df = pd.read_csv('data\\Parking_Violations_Issued_-_Fiscal_Year_2015.csv')

C:\Users\under\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,29,38,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
df.columns

Index(['Summons Number', 'Plate ID', 'Registration State', 'Plate Type',
       'Issue Date', 'Violation Code', 'Vehicle Body Type', 'Vehicle Make',
       'Issuing Agency', 'Street Code1', 'Street Code2', 'Street Code3',
       'Vehicle Expiration Date', 'Violation Location', 'Violation Precinct',
       'Issuer Precinct', 'Issuer Code', 'Issuer Command', 'Issuer Squad',
       'Violation Time', 'Time First Observed', 'Violation County',
       'Violation In Front Of Or Opposite', 'House Number', 'Street Name',
       'Intersecting Street', 'Date First Observed', 'Law Section',
       'Sub Division', 'Violation Legal Code', 'Days Parking In Effect    ',
       'From Hours In Effect', 'To Hours In Effect', 'Vehicle Color',
       'Unregistered Vehicle?', 'Vehicle Year', 'Meter Number',
       'Feet From Curb', 'Violation Post Code', 'Violation Description',
       'No Standing or Stopping Violation', 'Hydrant Violation',
       'Double Parking Violation'],
      dtype='object')

In [45]:
df_small = df.sample(n=100)

In [46]:
# randomly change years
df_small['Issue Date'] = df_small['Issue Date'].apply(lambda x: str(dt.datetime.strptime(x, '%m/%d/%Y').month) + '/' +\
                                                                str(dt.datetime.strptime(x, '%m/%d/%Y').day) + '/' +\
                                                                str(dt.datetime.strptime(x, '%m/%d/%Y').year + random.randint(0,5)))

In [48]:
with open('violation_small.csv', 'w', newline='\n') as f:
    df_small.to_csv(f, index=False, header=True)

In [49]:
# check county names
df['Violation County'].unique()

array(['NY', 'K', 'Q', 'BX', 'R', nan, 'NEW Y', 'MAN', 'KING', 'KINGS',
       'QUEEN', 'NEWY', 'BRONX', 'QU', 'MH'], dtype=object)

In [50]:
'178-09'.split('-')

['178', '09']

In [51]:
'178'.split('-')

['178']

In [52]:
int('09')

9

In [55]:
int('187-09'.replace('-', ''))

18709

In [56]:
int('187'.replace('-', ''))

187

In [62]:
df_small[['Violation County', 'Issue Date']].to_numpy()

array([['BX', '1/26/2016'],
       [nan, '2/2/2018'],
       ['Q', '10/11/2014'],
       ['Q', '9/24/2014'],
       [nan, '12/7/2018'],
       ['Q', '5/15/2017'],
       ['NY', '12/17/2017'],
       [nan, '5/15/2018'],
       [nan, '10/31/2014'],
       ['NY', '2/19/2015'],
       ['Q', '1/16/2017'],
       [nan, '1/15/2016'],
       ['NY', '3/3/2018'],
       ['K', '11/21/2016'],
       [nan, '11/25/2017'],
       ['K', '12/24/2018'],
       ['NY', '5/9/2016'],
       ['Q', '6/24/2016'],
       ['K', '4/27/2020'],
       ['K', '10/1/2015'],
       ['Q', '3/18/2015'],
       [nan, '1/13/2019'],
       ['NY', '11/10/2019'],
       ['Q', '11/3/2014'],
       [nan, '3/21/2019'],
       ['K', '3/3/2020'],
       ['Q', '11/24/2019'],
       ['BX', '2/25/2019'],
       ['Q', '10/1/2014'],
       ['Q', '3/27/2019'],
       ['NY', '7/21/2017'],
       ['NY', '4/28/2016'],
       ['K', '3/19/2019'],
       ['Q', '3/3/2016'],
       ['NY', '4/10/2019'],
       [nan, '4/15/2015'],
       ['Q', '11/6/2019'],
       ['NY', '1/5/2016'],
       ['K', '3/3/2016'],
       ['BX', '6/14/2019'],
       ['BX', '5/28/2016'],
       ['NY', '4/22/2019'],
       ['NY', '10/27/2019'],
       ['BX', '8/3/2015'],
       ['Q', '2/25/2020'],
       ['NY', '1/10/2016'],
       ['K', '3/21/2020'],
       ['K', '4/25/2016'],
       ['NY', '3/14/2020'],
       ['K', '6/12/2020'],
       [nan, '1/1/2017'],
       ['NY', '6/19/2018'],
       ['NY', '4/1/2020'],
       ['Q', '1/15/2015'],
       ['NY', '8/2/2018'],
       [nan, '4/16/2019'],
       ['NY', '5/30/2018'],
       ['NY', '1/7/2017'],
       ['NY', '3/4/2017'],
       ['K', '8/9/2014'],
       ['BX', '3/27/2020'],
       ['R', '3/27/2016'],
       ['NY', '12/16/2019'],
       ['K', '8/19/2015'],
       ['BX', '9/24/2018'],
       [nan, '12/12/2016'],
       ['NY', '9/5/2014'],
       ['NY', '1/31/2020'],
       [nan, '5/27/2018'],
       ['BX', '1/22/2020'],
       ['Q', '6/30/2020'],
       ['K', '9/17/2017'],
       ['NY', '3/12/2017'],
       ['NY', '10/15/2018'],
       ['K', '5/28/2019'],
       [nan, '4/1/2020'],
       ['K', '12/27/2017'],
       ['K', '7/28/2014'],
       ['NY', '9/6/2016'],
       ['NY', '4/16/2020'],
       ['NY', '11/19/2017'],
       ['BX', '11/28/2016'],
       ['NY', '5/13/2016'],
       ['NY', '8/4/2015'],
       ['NY', '1/2/2020'],
       ['NY', '8/9/2015'],
       [nan, '9/18/2017'],
       [nan, '6/14/2014'],
       ['NY', '12/30/2016'],
       ['BX', '1/22/2017'],
       ['NY', '6/16/2019'],
       ['BX', '3/20/2017'],
       ['Q', '5/22/2018'],
       ['Q', '10/22/2018'],
       ['NY', '7/24/2017'],
       ['BX', '1/4/2015'],
       ['NY', '8/21/2016'],
       ['Q', '10/25/2016'],
       ['Q', '7/18/2018'],
       ['Q', '8/22/2014']], dtype=object)

In [65]:
df_small[df_small['Plate ID'].apply(lambda x: x in ['DXN9023', 'FLX1145', '42530JU'])][['House Number', 'Street Name', 'Violation County']]

         House Number  Street Name Violation County
2523148        138-40    101st Ave                Q
2101851         19-52      81st St                Q
11519317       105-07  Jamaica Ave                Q

In [66]:
df_lookup = pd.read_csv('data\\nyc_cscl.csv')

In [78]:
df_lookup[(df_lookup['FULL_STREE'].str.lower() == '101st ave') & (df_lookup['BOROCODE'] == 4)][['R_LOW_HN', 'R_HIGH_HN', 'L_LOW_HN', 'L_HIGH_HN']].to_numpy()

array([['134-000', '135-098', '134-001', '135-099'],
       ['218-000', '218-098', '218-001', '218-099'],
       ['139-000', '142-098', '139-001', '142-099'],
       [nan, nan, nan, nan],
       ['94-000', '94-098', '94-001', '94-099'],
       ['106-020', '106-098', '107-001', '107-003'],
       ['97-000', '97-098', '97-001', '97-099'],
       ['114-000', '114-098', '114-001', '114-099'],
       ['111-000', '111-098', '111-001', '111-099'],
       ['130-000', '130-098', '130-003', '130-099'],
       ['127-026', '128-098', '129-001', '129-005'],
       ['136-000', '136-048', '136-001', '136-049'],
       ['132-000', '132-098', '132-001', '132-099'],
       ['107-000', '107-016', '107-005', '107-099'],
       ['0', '0', '75-019', '75-099'],
       ['137-000', '137-098', '137-001', '137-099'],
       ['112-000', '112-098', '112-001', '112-099'],
       ['143-026', '143-098', '143-025', '143-099'],
       ['87-000', '87-098', '87-001', '87-099'],
       ['96-000', '96-098', '96-001', '96-099'],
       ['108-000', '108-016', '108-005', '108-099'],
       ['115-000', '115-098', '115-001', '115-099'],
       ['81-000', '81-098', '81-001', '81-099'],
       ['223-000', '223-098', '223-001', '223-099'],
       ['102-000', '102-098', '102-001', '102-099'],
       ['125-000', '125-098', '125-001', '125-099'],
       ['106-000', '106-018', '106-005', '106-099'],
       ['119-000', '119-098', '119-001', '119-099'],
       ['110-000', '110-098', '110-005', '110-099'],
       ['144-000', '144-098', '144-001', '144-099'],
       ['138-000', '138-022', '138-001', '138-023'],
       ['85-000', '85-098', '85-001', '85-099'],
       ['84-000', '84-098', '84-001', '84-099'],
       ['117-000', '117-098', '117-001', '117-099'],
       ['145-000', '146-098', '145-001', '146-099'],
       [nan, nan, nan, nan],
       ['105-024', '105-098', '106-001', '106-003'],
       ['77-006', '77-098', '77-001', '77-099'],
       ['89-000', '89-098', '89-001', '89-099'],
       ['109-026', '109-098', '110-001', '110-003'],
       ['220-000', '220-098', '220-001', '220-099'],
       ['74-000', '74-098', '74-001', '74-099'],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       ['143-000', '143-024', '143-001', '143-023'],
       ['80-000', '80-098', '80-001', '80-099'],
       ['127-000', '127-024', '127-001', '128-099'],
       ['116-000', '116-098', '116-001', '116-099'],
       ['222-000', '222-098', '222-001', '222-099'],
       ['75-000', '75-098', '75-001', '75-017'],
       ['129-032', '129-098', '130-001', '130-001'],
       ['99-000', '99-098', '99-001', '99-099'],
       ['120-000', '120-098', '120-001', '120-099'],
       ['126-000', '126-098', '126-001', '126-099'],
       ['121-000', '122-098', '121-001', '122-099'],
       ['131-000', '131-098', '131-001', '131-099'],
       ['83-000', '83-098', '83-001', '83-099'],
       ['118-000', '118-098', '118-001', '118-099'],
       ['104-000', '104-098', '104-001', '104-099'],
       ['77-000', '77-004', '0', '0'],
       ['93-000', '93-098', '93-001', '93-099'],
       ['82-000', '82-098', '82-001', '82-099'],
       ['100-000', '100-098', '100-001', '100-099'],
       ['221-000', '221-098', '221-001', '221-099'],
       ['76-000', '76-098', '76-001', '76-099'],
       ['123-000', '123-098', '123-001', '123-099'],
       ['101-000', '101-098', '101-001', '101-099'],
       ['98-000', '98-098', '98-001', '98-099'],
       ['92-000', '92-098', '92-001', '92-099'],
       ['113-000', '113-098', '113-001', '113-099'],
       [nan, nan, nan, nan],
       ['91-000', '91-098', '91-001', '91-099'],
       ['88-000', '88-098', '88-001', '88-099'],
       ['90-000', '90-098', '90-001', '90-099'],
       ['109-000', '109-024', '109-005', '109-099'],
       ['133-000', '133-098', '133-001', '133-099'],
       ['95-000', '95-098', '95-001', '95-099'],
       ['105-000', '105-022', '105-001', '105-099'],
       ['108-018', '108-098', '109-001', '109-003'],
       ['138-024', '138-098', '138-025', '138-099'],
       ['86-000', '86-098', '86-001', '86-099'],
       ['124-000', '124-098', '124-001', '124-099'],
       ['78-000', '79-098', '78-001', '79-099'],
       ['219-000', '219-098', '219-001', '219-099'],
       [nan, nan, nan, nan],
       ['129-000', '129-030', '129-007', '129-099'],
       [nan, nan, nan, nan],
       ['107-018', '107-098', '108-001', '108-003'],
       ['103-000', '103-098', '103-001', '103-099']], dtype=object)

In [91]:
import re
re.sub('-0|-', '', '130-004')

'13004'